$themes: (
  'dark': (
    'main': #000,
    'accent': rgb(206, 95, 35),
    'text': #fff,
  ),
  'light': (
    'text': #000,
    'accent': rgb(206, 95, 35),
    'main': #fff,
  ),
);

@mixin theme($name) {
  @each $color-name, $color in map-get($themes, $name) {
    --app-color-#{$color-name}: #{$color};
  }
  background-color: var(--app-color-main);
  color: var(--app-color-text);
}
