@import '_colors.scss';

@each $theme-name in map-keys($themes) {
  .theme-#{$theme-name} {
    @include theme($theme-name);
  }
}

:root {
  @media (prefers-color-scheme: dark) {
    @include theme('dark');
  }
  @media (prefers-color-scheme: light) {
    @include theme('light');
  }
}

h1 {
  color: var(--app-color-accent);
}

input {
  background-color: var(--app-color-main);
  padding: 0.5rem;
  border-radius: 0.35rem;
  border: 1px solid var(--app-color-text);
  color: var(--app-color-text);
}
