.opacity-one {
  opacity: 1;
}
.opacity-zero {
  opacity: 0;
}
.transition-opacity-in {
  transition: opacity 0.5s ease-in-out;
}
.transition-opacity-out {
  transition: opacity 0.5s ease-in-out;
}

.rotated {
  transform: rotate(45deg);
}

.transition-rotate {
  transition: transform 0.5s ease-in-out;
}

